.aicolumns-ue65o8-519531635 > div {
  display: flex;
  flex-direction: column;
}

.aicolumns-ue65o8-519531635 img {
  width: 100%;
}

.aicolumns-ue65o8-519531635 > div > div {
  order: 1;
}

.aicolumns-ue65o8-519531635 > div > .aicolumns-ue65o8-519531635-img-col {
  order: 0;
}

.aicolumns-ue65o8-519531635 > div > .aicolumns-ue65o8-519531635-img-col img {
  display: block;
}

@media (width >= 900px) {
  .aicolumns-ue65o8-519531635 > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .aicolumns-ue65o8-519531635 > div > div {
    flex: 1;
    order: unset;
  }
}
