header nav .section .default-content-wrapper {
    max-width: 1200px;
    margin: auto;
}

header nav .section:nth-of-type(1) {
    height: 32px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #e0e0e0;
}

header nav .section:nth-of-type(1) ul {
    position: relative;
    top: 8px;
}

header nav .section:nth-of-type(1) ul a:any-link {
    color: #000;
    font-size: 0.75rem;
}

header nav .section:nth-of-type(2) {
    height: 33px;
}

header nav .section:nth-of-type(2) ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

header nav .section:nth-of-type(2) ul > li {
    background-color: #02084b;
    padding: 3px 20px;
}

header nav .section:nth-of-type(2) ul > li a:any-link {
    font-size: 0.875rem;
}

header nav .section:nth-of-type(2) ul > li a:any-link,
header nav .section:nth-of-type(4) ul a:any-link {
    color: #fff;
}

header nav .section:nth-of-type(2) ul > li:nth-of-type(n+2) {
    border-left: 1px solid #fff;
}

header nav .section:nth-of-type(3) {
    height: 150px;
    margin-bottom: 30px;
}

header nav .section:nth-of-type(3) a:any-link {
    color: #000;
}

header nav .section:nth-of-type(3) > div:first-of-type {
    position: relative;
    padding-top: 30px;
}

header nav .section:nth-of-type(3) > div {
    padding-left: 160px;
    box-sizing: border-box;
}

header nav .section:nth-of-type(3) > div > p:last-of-type {
    position: absolute;
    top: -6px;
    left: 0;
}

header nav .section:nth-of-type(3) > div > p:last-of-type img {
    width: 130px;
    height: auto;
}

header nav .section:nth-of-type(3) ul {
    display: flex;
    margin-top: 10px;
}

header nav .section:nth-of-type(3) ul li {
    margin-right: 30px;
}

header nav .section:nth-of-type(4) {
    background-color: #02084b;
    height: 62px;
}

header nav .section:nth-of-type(4) ul {
    display: flex;
    flex: 1;
    width: 918px;
    justify-content: space-between;
    position: relative;
    top: 18px;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header h1 {
    font-size: 2.25rem;
    font-family: Open Sans, sans-serif;
    margin: 0;
}
