.aicolumns-i9q9cm-1102402209 > div {
  display: flex;
  flex-direction: column;
}

.aicolumns-i9q9cm-1102402209 img {
  width: 100%;
}

.aicolumns-i9q9cm-1102402209 > div > div {
  order: 1;
}

.aicolumns-i9q9cm-1102402209 > div > .aicolumns-i9q9cm-1102402209-img-col {
  order: 0;
}

.aicolumns-i9q9cm-1102402209 > div > .aicolumns-i9q9cm-1102402209-img-col img {
  display: block;
}

@media (width >= 900px) {
  .aicolumns-i9q9cm-1102402209 > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .aicolumns-i9q9cm-1102402209 > div > div {
    flex: 1;
    order: unset;
  }
}
